{% extends "layout.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button class="btn btn-danger pull-left" data-state= "true" data-port="22" id = "port22">Port 22</button>
    <button class="btn btn-danger pull-left" data-state= "true" data-port="18" id = "port18">Port 18</button>
    <button class="btn btn-danger pull-left" data-state= "true" data-port="16" id = "port16">Port 16</button>
    <button class="btn btn-danger pull-left" data-state= "true" data-port="15" id = "port15">Port 15</button>
<p>
state is {{state}}
</p>

    {% endblock %}
