<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Carnival Crane</title>
        <meta charset = "utf-8"name="viewport" content="width=device-width">
        <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        
  </head>
  <body>
    {% block content %}{% endblock %}

 <script src = "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src ="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/javascripts/main.js"></script>
  </body>
</html>